BasedOnStyle: llvm

AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

ColumnLimit: 100
PointerAlignment: Right
BreakBeforeBraces: Allman
IndentWidth: 2
TabWidth: 2
UseTab: Never

BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: false
  BeforeLambdaBody: true
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
